<html>
    <head>
        <title>长沙锐睿科技有限公司</title>
        <meta charset="UTF-8">
        <link rel="shortcut icon" href="./image/favicon.ico">
        <link rel="stylesheet" type="text/css" href="../css/public.css"></link>
        <link rel="stylesheet" type="text/css" href="../css/inRuirui.css"></link>
    </head>
    <body>
        ##include("../others/header.html")
        <div class="img_banner"><img src="../image/intro.jpg" alt="" id="bannerImg"></div>
        <div class="core_inRuirui">
            <div class="left">
                <div class="title" id="productName"></div>
                <div class="lists" id="tabTitle">
                    <div class="list active" class="introWord">软件简介</div>
                    <div class="list">核心功能</div>
                    <div class="list">优势与特色</div>
                    <div class="list">采购流程</div>
                </div>
            </div>
            <div class="right">
                <div class="lists" id="content">
                    <div class="list active">
                        <div class="title" class="introWord">软件简介</div>
                        <div class="content" id="intro2">
                            <h3>正在加载...</h3>
                        </div>
                        
                    </div>
                    <div class="list">
                        <div class="title">核心功能</div>
                        <div class="content" id="function"></div>

                    </div>
                    <div class="list">
                        <div class="title">优势与特色</div>
                        <div class="content" id="adv"> </div>
                        
                    </div>
                    <div class="list">
                        <div class="title">采购流程</div>
                        <div class="content" id="purchase">采购流程</div>
                        
                    </div>
                </div>
                
            </div>
        </div>
        ##include("../others/footer.html")
        <script  src="../js/app_product.js"></script>
    </body>
</html>