<html>
    <head>
        <title>长沙锐睿科技有限公司</title>
        <meta charset="UTF-8">
        <link rel="shortcut icon" href="./image/favicon.ico">
        <link rel="stylesheet" type="text/css" href="../css/public.css"></link>
        <link rel="stylesheet" type="text/css" href="../css/index.css"></link>
        <link rel="stylesheet" type="text/css" href="../css/swiper-3.4.2.min.css"></link>
    </head>
    <body>
        ##include("../others/header.html")
        <div class="swiper-container" id="swiper1">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="background: #4390EE">
                    <a href="./meetingService.html"><img src="../image/banner.jpg" alt=""></a>
                </div>
                <div class="swiper-slide" style="background: #4390EE">
                    <a href="trainingService.html"><img src="../image/banner20210422_fanyi.png" alt=""></a>
                </div>
                <div class="swiper-slide" style="background: #FF8604"><a href="./news.html"></a> Slide 3</div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination" id="pager1"></div>
        </div>
        <div class="content_body">
            <div class="center_content">
                <div class="swiper-container2" id="swiper2">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" style="background: #4390EE"><a href="./caltpp.html">
                            <img src="../image/bb1.jpeg" alt="">
                        </a></div>
                        <div class="swiper-slide" style="background: #CA4040"><a href="./phaseField.html">
                            <img src="../image/bb2.jpg" alt="">
                        </a></div>
                        <div class="swiper-slide" style="background: #FF8604"><a href="">
                            <img src="../image/bb1.jpeg" alt="">
                        </a></div>
                    </div>
                    <div class="swiper-pagination" id="pager2"></div>
                </div>
                <div class="news_box">
                    <a href="./news.html" class="news_more">更多</a>
                    <div id="newsLists"> </div>
                    <script type="text/x-jsrender" id="tmplNews2">
                        {{for items}}
                        <div class="news_item">
                            <a href="./newsDetail.html?id={{:id}}" class="title">{{:title}}</a>
                            <div class="time">{{:date}}</div>
                        </div>
                        {{/for}}
                    </script>
                </div>
            </div>
        </div>
        <!-- <div class="area area_news">
            <div class="area_title">新闻事件</div>
            <div class="news_box">
                <div class="img_box" id="newsImgs"></div>
                <script type="text/x-jsrender" id="tmplNews">
                    {{for items}}
                    <div class="list"><img src={{:guidePic}} ></div>
                    {{/for}}
                </script>
                <div class="news_list" id="newsLists"> </div>
                <script type="text/x-jsrender" id="tmplNews2">
                    {{for items}}
                    <div class="list"><a href="./newsDetail.html?id={{:id}}" class="title">{{:title}}</a></div>
                    {{/for}}
                </script>
            </div>
            <a href="./news.html" class="view_news">查看更多</a>
        </div> -->

        ##include("../others/footer.html")
        <script src="../js/zepto.js"></script>
        <script src="../js/swiper-3.4.2.jquery.min.js"></script>
        <script src="../js/public.js"></script>
        <script src="../js/jsrender.min.js"></script>
        <script type="module" src="../js/index.js"></script>
    </body>
</html>