<html>
    <head>
        <title>长沙锐睿科技有限公司</title>
        <meta charset="UTF-8">
        <link rel="shortcut icon" href="./image/favicon.ico">
        <link rel="stylesheet" type="text/css" href="../css/public.css"></link>
        <link rel="stylesheet" type="text/css" href="../css/index.css"></link>
        <link rel="stylesheet" type="text/css" href="../css/swiper-3.4.2.min.css"></link>
    </head>
    <body>
        ##include("../others/header.html")
        <div class="swiper-container" id="swiper1">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="background: #4390EE">
                    <img src="../image/banner20210422_fanyi.png" alt="">
                </div>
                <div class="swiper-slide" style="background: #CA4040">Slide 2</div>
                <div class="swiper-slide" style="background: #FF8604">Slide 3</div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination" id="pager1"></div>
        </div>
        <div class="content_body">
            <div class="center_content">
                <div class="swiper-container2" id="swiper2">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" style="background: #4390EE">Slide 1</div>
                        <div class="swiper-slide" style="background: #CA4040">Slide 2</div>
                        <div class="swiper-slide" style="background: #FF8604">Slide 3</div>
                    </div>
                    <div class="swiper-pagination" id="pager2"></div>
                </div>
                <div class="news_box">
                    <a href="./news.html" class="news_more">更多</a>
                    <div class="news_item">
                        <div class="title">【特别报道】植树节：校园添新绿 师生乐“栽”时</div>
                        <div class="time">2022-03-21</div>
                    </div>
                     <div class="news_item">
                         <div class="title">【特别报道】植树节：校园添新绿 师生乐“栽”时</div>
                         <div class="time">2022-03-21</div>
                     </div>
                      <div class="news_item">
                          <div class="title">【特别报道】植树节：校园添新绿 师生乐“栽”时</div>
                          <div class="time">2022-03-21</div>
                      </div>
                       <div class="news_item">
                           <div class="title">【特别报道】植树节：校园添新绿 师生乐“栽”时</div>
                           <div class="time">2022-03-21</div>
                       </div>
                    <!-- <div class="news_list" id="newsLists"> </div>
                    <script type="text/x-jsrender" id="tmplNews2">
                        {{for items}}
                        <div class="list"><a href="./newsDetail.html?id={{:id}}" class="title">阿斯蒂芬发</a></div>
                        {{/for}}
                    </script> -->
                </div>
            </div>
        </div>
        <div class="area area_intro">
            <div class="img_intro"><img src="../image/rr_about.jpg"></div>
            <div class="intro">
                <div class="intro_title">关于锐睿</div>
                <div class="intro_content" id="oneWord"></div>
                <a href="./inRuirui.html" class="btn_view">查看更多</a>
                <a href="./pTable.html" class="btn_view">元素周期</a>
            </div>
            
            
        </div>
        <div class="area area_product" style="display: none;">
            <div class="area_title">产品与服务</div>
            <div class="title_s"><div class="word" >产品</div></div>
            <div class="desc" id="productWord">产品一句话介绍</div>
            <div class="title_s"><div class="word">服务</div></div>
            <div class="desc" id="serviceWord">服务一句话介绍</div>
        </div>
        <div class="area area_adv" style="display: none;">
            <div class="area_title">我们的优势</div>
            <div class="core10 core_adv" style="position: relative;">
                <div class="list">
                    <i class="icon icon_adv1"></i>
                    <div class="title">安全.快速.稳定</div>
                    <div class="desc">全自动接收验证码，网页端、API接入使用方式，一键接收立即响应</div>
                </div>
                <div class="list">
                    <i class="icon icon_adv1"></i>
                    <div class="title">安全.快速.稳定</div>
                    <div class="desc">全自动接收验证码，网页端、API接入使用方式，一键接收立即响应</div>
                </div>
                <div class="list">
                    <i class="icon icon_adv1"></i>
                    <div class="title">安全.快速.稳定</div>
                    <div class="desc">全自动接收验证码，网页端、API接入使用方式，一键接收立即响应</div>
                </div>
                <div class="list">
                    <i class="icon icon_adv1"></i>
                    <div class="title">安全.快速.稳定</div>
                    <div class="desc">全自动接收验证码，网页端、API接入使用方式，一键接收立即响应</div>
                </div>
                <div class="list">
                    <i class="icon icon_adv1"></i>
                    <div class="title">安全.快速.稳定</div>
                    <div class="desc">全自动接收验证码，网页端、API接入使用方式，一键接收立即响应</div>
                </div>
                <div class="list">
                    <i class="icon icon_adv1"></i>
                    <div class="title">安全.快速.稳定</div>
                    <div class="desc">全自动接收验证码，网页端、API接入使用方式，一键接收立即响应</div>
                </div>
                <div style="position: absolute;top:190px;left:48%;font-size: 56px;color:red;">需提供素材</div>
            </div>
        </div>
        <!-- <div class="area area_news">
            <div class="area_title">新闻事件</div>
            <div class="news_box">
                <div class="img_box" id="newsImgs"></div>
                <script type="text/x-jsrender" id="tmplNews">
                    {{for items}}
                    <div class="list"><img src={{:guidePic}} ></div>
                    {{/for}}
                </script>
                <div class="news_list" id="newsLists"> </div>
                <script type="text/x-jsrender" id="tmplNews2">
                    {{for items}}
                    <div class="list"><a href="./newsDetail.html?id={{:id}}" class="title">{{:title}}</a></div>
                    {{/for}}
                </script>
            </div>
            <a href="./news.html" class="view_news">查看更多</a>
        </div> -->
        <div class="area">
            <div class="area_title">人才招聘</div>
            
            
            
        </div>
        <div class="area area_flow" style="display: none;">
            <div class="area_title">合作流程</div>
            <div class="flow_box">待设计,需提供素材</div>
        </div>
        ##include("../others/footer.html")
        <script src="../js/zepto.js"></script>
        <script src="../js/swiper-3.4.2.jquery.min.js"></script>
        <script src="../js/public.js"></script>
        <script src="../js/jsrender.min.js"></script>
        <script src="../js/index.js"></script>
    </body>
</html>