<html>
    <head>
        <title>长沙锐睿科技有限公司</title>
        <meta charset="UTF-8">
        <link rel="shortcut icon" href="./image/favicon.ico">
        <link rel="stylesheet" type="text/css" href="../css/public.css"></link>
        <link rel="stylesheet" type="text/css" href="../css/index.css"></link>
        <link rel="stylesheet" type="text/css" href="../css/swiper-3.4.2.min.css"></link>
    </head>
    <body>
        ##include("../others/header.html")
        <div class="swiper-container" id="swiper1">
            <div class="swiper-wrapper" id="bannerBox1"> </div>
            <script type="text/x-jsrender" id="tmplBanner1">
                {{for data}}
                <div class="swiper-slide">
                    {{if linkUrl }}
                        <a href="{{:linkUrl}}" class="title"><img src="{{:picUrl}}" alt=""></a>
                    {{else}}
                        <div class="title"><img src="{{:picUrl}}" alt=""></div>
                    {{/if}}
                </div>
                {{/for}}
            </script>
            <!-- Add Pagination -->
            <div class="swiper-pagination" id="pager1"></div>
        </div>
        <div class="content_body">
            <div class="center_content">
                <div class="swiper-container2" id="swiper2">
                    <div class="swiper-wrapper" id="bannerBox2">
                    </div>
                    <script type="text/x-jsrender" id="tmplBanner2">
                    {{for data}}
                        <div class="swiper-slide">
                            {{if linkUrl }}
                            <a href="{{:linkUrl}}" class="title"><img src="{{:picUrl}}" alt=""></a>
                            {{else}}
                            <div class="title"><img src="{{:picUrl}}" alt=""></div>
                            {{/if}}
                        </div>
                    {{/for}}
                    </script>
                    <div class="swiper-pagination" id="pager2"></div>
                </div>
                <div class="news_box">
                    
                    <div id="newsLists"> </div>
                    <a href="./news.html" class="news_more">更多</a>
                    <script type="text/x-jsrender" id="tmplNews2">
                        {{for items}}
                        <div class="news_item">
                            <div class="news_title"><a href="./newsDetail.html?id={{:id}}" class="title">{{:title}}</a>
                            </div>
                            <div class="time">{{:createTime}}</div>
                        </div>
                        {{/for}}
                    </script>
                </div>
            </div>
        </div>
        <div class="dialog zf-dialog dialog-box" title="" id="userInfo">
            <div class="consult_icon" id="iconConsult"></div>
            <div class="userinfo_box">
                <div class="title">科技咨询</div>
                <div class="form_box" id="contentService">
                    <input type="text" id="userName" placeholder="您的姓名">
                    <input type="text" id="userCompany" placeholder="您所在的公司/大学/机构名称">
                    <input type="text" id="userPositon"  placeholder="您的职称？">
                    
                    <input type="text" id="userEmail" placeholder="您的邮箱">
                    <select name="" placeholder="咨询问题类别" id="slectBox">
                    
                    </select>
                    <textarea id="desc" placeholder="问题描述"></textarea>
                    <div class="btn_submit" id="submitForm">提交</div>
                </div>
            </div>
            <div class="dialog-close" id="xPop"></div>
        </div>
        ##include("../others/footer.html")
        <script src="../js/swiper-3.4.2.jquery.min.js"></script>
        <script  src="../js/index.js"></script>
        <script>
            const submitForm = $('#submitForm');//slectBox
            const slectBox = $('#slectBox');//slectBox

            const userName = $('#userName');
            const userCompany = $('#userCompany');
            const userPositon = $('#userPositon');
            const userEmail = $('#userEmail');
            const desc = $('#desc');

            const domMask = $('#window-mask');
            getTypes();
            submitForm.click(() =>{
                const typeSelect = slectBox.find("option:selected").val();
                const params ={
                    name: userName.val(),
                    companyUniversityMechanism:userCompany.val(),
                    job:userPositon.val(),
                    email:userEmail.val(),
                    describe:desc.val(),
                    type: Number(typeSelect)
                }
                $.ajax({ 
                    url:"/api/consult/save",
                    dataType: "json",
                    type: 'post',
                    data:params,
                    success: function(res){
                        if(res.success){
                            domMask.fadeOut();
                            $('#userInfo').fadeOut();
                            alert('已提交，其它文件请以邮件附件形式发送至公司邮箱');
                        }else{
                            alert(res.msg);
                        }
                        
                    }
                });
            });
            function getTypes(){
                $.ajax({ //新闻
                    url:"/api/consult/type/list",
                    dataType: "json",
                    type: 'get',
                    success: function(res){
                       const lists = res.data;
                       lists.forEach(list =>{
                            const optionDom = "<option value="+list.code+">"+list.name+"</option> "
                            slectBox.append(optionDom);
                       })
                    }
                });
            }
        </script>
    </body>
</html>