<html>
    <head>
        <title>长沙锐睿科技有限公司</title>
        <meta charset="UTF-8">
        <link rel="shortcut icon" href="./image/favicon.ico">
        <link rel="stylesheet" type="text/css" href="../css/public.css"></link>
        <link rel="stylesheet" type="text/css" href="../css/index.css">
    </head>
    <body>
        ##include("../others/header.html")
        <div class="core_news">
            <div class="job_bg">
                <div class="job_motto area_product">
                    <div class="title_s">
                        <div class="word" style="background: rgba(239,243,246,1);">用人理念</div>
                    </div>
                    <div class="desc2">
                        <ul>
                            <li>
                                <span class="strong">用人不疑 疑人不用</span>
                                <span class="explain">信你值得信任，值得公司的托付</span>
                            </li>
                            <li>
                                <span class="strong">厚德载物 上善若水</span>
                                <span class="explain">信你踏实稳重，处事得当，堪当大任</span>
                            </li>
                            <li>
                                <span class="strong">雷厉风行 开拓进取</span>
                                <span class="explain">信你能积极推进所托事务，完成甚至超额完成任务</span>
                            </li>
                            <li>
                                <span class="strong">兢兢业业 恪尽职守</span>
                                <span class="explain">信你能全身心投入，遵守规则，一心为公司服务</span>
                            </li>
                            <li>
                                <span class="strong">自强不息 百折不挠</span>
                                <span class="explain">信你敢于面对问题，克服困难，遇到挫折不轻言放弃</span>
                            </li>
                        </ul>
                    </div>
                    <div class="info_send">如果感兴趣，请以“姓名+岗位”为邮件名称，发送简历至<a href="mailto:rrui_info@163.com"
                            class="email_after">rrui_info@163.com</a>邮箱。</div>
                </div>
            </div>
            <div class="job_box">
                <div class="job_lists">
                    <ul id="jobLists">

                    </ul>
                    <script type="text/x-jsrender" id="tmplJobs">
                        {{for items}}
                        <li>
                            <div class="list_head">
                                <div class="left">{{:position}}</div>
                                <div class="right">{{:salary}}</div>
                                <i></i>
                            </div>
                            <div class="list_content">
                                <div class="num"><span class="label">招聘人数：</span>{{:num}}</div>
                                <div class="staff_require">
                                    <h3>任职资格：</h3>
                                    <div class="require_box">{{:jobRequire}}</div>
                                    <h3>岗位职责：</h3>
                                    <div class="require_box">{{:jobDuty}}</div>
                                </div>
                            </div>
                        </li>	
                        {{/for}}
                    </script>
                </div>
            </div>
        </div>
        ##include("../others/footer.html")
        <script src="../js/zepto.js"></script>
        <script src="../js/public.js"></script>
        <script src="../js/jsrender.min.js"></script>
        <script src="../js/jquery.pagination.js"></script>
        <script>
            $.ajax({//招聘
                url:"/api/recruitment/query?page=1&pageSize=99",
                dataType: "json",
                type: 'get',
                success: function(res){
                    var html = $("#tmplJobs").render(res);
                    $("#jobLists").html(html);
                }
            });
        </script>
    </body>
</html>