<html>
    <head>
        <title>长沙锐睿科技有限公司</title>
        <meta charset="UTF-8">
        <link rel="shortcut icon" href="./image/favicon.ico">
        <link rel="stylesheet" type="text/css" href="../css/public.css"></link>
        <link rel="stylesheet" type="text/css" href="../css/news.css">
    </head>
    <body>
        ##include("../others/header.html")
        <div class="core_news">
            <div class="lists" id="newsList">
            </div>
            <script type="text/x-jsrender" id="tmplNews">
                {{for items}}
                <div class="list">
                    <div class="content">
                        <div class="img"><img src="{{:guidePic}}" alt=""></div>
                        <div class="word">
                            <div class="title">{{:title}}</div> 
                            <div class="time">{{:date}}</div>
                            <div class="desc">{{:introduction}}</div> 
                            <a href="./newsDetail.html?id={{:id}}" class="btn_view">查看详情&gt;&gt;</a> 
                        </div>
                    </div>                  
                </div>
                {{/for}}
            </script>
            <div class="M-box11"></div>
        </div>
        ##include("../others/footer.html")
        <script src="../js/zepto.js"></script>
        <script src="../js/jsrender.min.js"></script>
        <script src="../js/jquery.pagination.js"></script>
        <script>
            //start
            const newsList = {
                items: [
                    {createTime: 1647912142000,
                    guidePic: "http://console.rr-tek.com/ct/news/0d91c8f31eb04006ba0b7c1feb866d5b.png",
                    id: 4,
                    introduction: "\n我们根据客户的特定要求，为客户提供针对每个特定应用的先进加工解决方案。",
                    status: 1,
                    title: "科技咨询服务介绍"},{
                    createTime: 1647569147000,
                    guidePic: "http://console.rr-tek.com/ct/news/7f2f65a4e028422fbb688e5758ed2e32.png",
                    id: 3,
                    introduction: "Albir Layyous博士来自以色列，硬质合金、金属陶瓷和耐磨涂层领域世界顶尖专家，中南大学客座教授。",
                    status: 1,
                    title: "专家介绍-Albir博士",
                    },{createTime: 1647912142000,
                    guidePic: "http://console.rr-tek.com/ct/news/0d91c8f31eb04006ba0b7c1feb866d5b.png",
                    id: 4,
                    introduction: "\n我们根据客户的特定要求，为客户提供针对每个特定应用的先进加工解决方案。",
                    status: 1,
                    title: "科技咨询服务介绍"},{
                    createTime: 1647569147000,
                    guidePic: "http://console.rr-tek.com/ct/news/7f2f65a4e028422fbb688e5758ed2e32.png",
                    id: 3,
                    introduction: "Albir Layyous博士来自以色列，硬质合金、金属陶瓷和耐磨涂层领域世界顶尖专家，中南大学客座教授。",
                    status: 1,
                    title: "专家介绍-Albir博士",
                    }

                ]
            }
            var html = $("#tmplNews").render(newsList);
            $("#newsList").html(html);
            //end
            var pageSize = 8;
            $.ajax({//招聘
                url:"/api/news/query?page=1&pageSize="+pageSize,
                dataType: "json",
                type: 'get',
                success: function(res){
                    $('.M-box11').pagination({
                        totalData: res.totalCount,
                        showData: pageSize,
                        coping: true,
                        callback: pageselectCallback,
                    })
                    res.items.forEach(item =>{
                        item.date = formatDate(item.createTime);
                    })
                    var html = $("#tmplNews").render(res);
                    $("#newsList").html(html);
                }
            });
            function pageselectCallback(obj){
                var page = obj.getCurrent();
                $.ajax({//招聘
                url:"/api/news/query?page="+page+"&pageSize="+pageSize,
                dataType: "json",
                type: 'get',
                success: function(res){
                    res.items.forEach(item =>{
                        item.date = formatDate(item.createTime);
                    })
                    var html = $("#tmplNews").render(res);
                    $("#newsList").html(html);
                }
            });
            }
            function formatDate(now) { 
                now = new Date(now);
                var year=now.getFullYear();  //取得4位数的年份
                var month=now.getMonth()+1;  //取得日期中的月份，其中0表示1月，11表示12月
                var date=now.getDate();      //返回日期月份中的天数（1到31）
                // var hour=now.getHours();     //返回日期中的小时数（0到23）
                // var minute=now.getMinutes(); //返回日期中的分钟数（0到59）
                // var second=now.getSeconds(); //返回日期中的秒数（0到59）
                return year+"-"+month+"-"+date+" "; 
            }

        </script>
    </body>
</html>