<html>
    <head>
        <title>长沙锐睿科技有限公司</title>
        <meta charset="UTF-8">
        <link rel="shortcut icon" href="./image/favicon.ico">
        <link rel="stylesheet" type="text/css" href="../css/public.css"></link>
        <link rel="stylesheet" type="text/css" href="../css/pTable.css"></link>

    </head>
    <body>
        ##include("../others/header.html")
        <div class="file_page">
            <div class="pTable">
                <div id="table" class="container_pTable"></div>
                <div id="table-lanthanoids" class="container_pTable"></div>
                <div id="table-actinoids" class="container_pTable"></div>
            </div>
            <div class="right_part">
                <div class="selected_box">
                    <div class="word">你选择的元素：</div>
                    <div class="element_selected" id="selected"></div>
                </div>
                <div class="match_box">
                    <div class="word">匹配到<span class="num" id="fileNum">45</span>个相关文件：</div>
                    <div class="file_lists" id="fileList">
                        
                    </div>
                    <script type="text/x-jsrender" id="tmplFiles">
                        {{for data}}
                            <div class="file_list" onclick="download({{:fileResourceId}})"> <span>{{:fileResourceName}}</span> </div>
                        {{/for}}
                    </script>
                </div>
            </div>
        </div>
        ##include("../others/footer.html")
        
    </body>
    <script src="../js/zepto.js"></script>
    <script src="../js/jsrender.min.js"></script>
    <script  src="../js/pTable.js"> </script>
</html>
