<html>
    <head>
        <title>长沙锐睿科技有限公司</title>
        <meta charset="UTF-8">
        <link rel="shortcut icon" href="./image/favicon.ico">
        <link rel="stylesheet" type="text/css" href="../css/public.css"></link>
        <link rel="stylesheet" type="text/css" href="../css/pTable.css"></link>

    </head>
    <body>
        ##include("../others/header.html")
        <script>
            const u = navigator.userAgent, app = navigator.appVersion;
            const isMobile = !!u.match(/AppleWebKit.*Mobile.*/);   
            if(isMobile){
                //document.write('<meta name="viewport" content="width=576, initial-scale=1.0"/>')
                var mvp = document.getElementById('testViewport');
                mvp.setAttribute('content','width=480');
            }     
        </script>
        <div class="file_page">
            <div class="pTable">
                <div id="table" class="container_pTable"></div>
                <div id="table-lanthanoids" class="container_pTable"></div>
                <div id="table-actinoids" class="container_pTable"></div>
            </div>
            <div class="right_part">
                <div class="selected_box">
                    <div class="word">你选择的元素：</div>
                    <div class="element_selected" id="selected"></div>
                </div>
                <div class="match_box">
                    <div class="word" >匹配到<span class="num" id="fileNum">0</span>个相关文件：</div>
                    <div class="file_lists" id="fileList"> 
                    </div>
                    <div class="down_line" id="downBtn"  onclick="download()">
                        <span class="btn_anchor down_btn">下载</span>
                    </div>
                    <script type="text/x-jsrender" id="tmplFiles">
                        {{for data}}
                            <div class="file_list" >
                                <input type="checkbox" class="checkbox" onclick="checkList(this,{{:id}},{{:price}})"
                                    name="fileTitle">
                                <span  class="name" title="{{:fileSourceName}}">{{:fileSourceName}}</span>
                                <a class="preview_btn" href="./imageView.html?url={{:previewPic}}" target="_blank">预览</a>
                                <span class="btn_anchor down_btn" onclick="download({{:id}},{{:price}})">下载(￥{{:price}})</span>
                            </div>
                        {{/for}}
                    </script>
                </div>
            </div>
            <div id="window-mask" class="window-mask"></div>
            <div class="dialog zf-dialog dialog-box" title="" id="userInfo">
                <div class="userinfo_box">
                    <h2 class="dialog-title">方便联系，请填写以下信息</h2>
                    <input type="text" placeholder="您的姓名" id="userName">
                    <input type="text" placeholder="您所在的公司/大学/机构名称" id="userCompany">
                    <input type="text" placeholder="您的邮箱" id="userEmail">
                    <div class="btn_submit" id="infoSubBtn">提交</div>
                </div>
                <div class="dialog-close xxPop" id=""></div>
            </div>
            <div class="dialog zf-dialog dialog-box" title="" id="upgrade-dlg">
                <h2 class="dialog-title">购买</h2>
                <div class="dlg-content pay-form">
                    <div class="pay-form-label">文件价格</div>
                    <div class="price_box priceBox"></div>
                    <div class="pay-form-label">支付方式</div>
                    <div class="dlg-item"  style="min-height:30px;">
                        <div tit="wxpay" class="price-paytype wechat ac">
                            <div class="img-box">
                                <img src="../image/weixzif.svg" alt="" />
                            </div>
                            <div>
                                微信支付
                            </div>
                        </div>
                        <div tit="alipay" class="price-paytype alipay" >
                            <div class="img-box">
                                <img src="../image/zhifubao.svg" alt="" />
                            </div>
                            <div>
                                支付宝
                            </div>
                        </div>
                        <div tit="transfer" class="price-paytype forpub-pay" >
                            <div class="img-box">
                                <img src="../image/transfer-pay.png" tit="对公转账" class="transfer-img">
                            </div>
                            
                        </div>
                    </div>
                    <button class="pay_btn" id="payBtn">去支付</button>
                </div>
                <div class="dialog-close xxPop" id=""></div>
            </div>
            <div class="wx_qr_box dialog-box" id="qrBox">
                <div class="dialog-close wx xPop" id="closeQr"></div>
                <div class="qr_content">
                    <div>微信扫码支付</div>
                    <div id="payimg" style="margin:10px 0px;width:170px;height:170px;margin:15px auto;"></div>
                    <div>长按识别或微信扫描二维码完成支付</div>
                </div>
            </div>
            <div class="dialog pay-forpub-cell dialog-box" id="forPubPop">
                <h2 class="dialog-title">对公转账流程</h2>
                <div class="dialog-content cell-bd">
                    <div class="step-hd">1、已生成订单 &nbsp;&nbsp;&nbsp;&nbsp;<span class="order-name"
                            style="display: none;">61a746df1e08530229a2f99d － 购买ProcessOn个人版</span></div>
                    <div class="step-bd">订单号：<span class="order-id orderCode"></span>
                        <!-- <span class="order-copy-btn" data-clipboard-action="copy"
                            data-clipboard-target=".order-id">点此复制</span> -->
                    </div>
                    <div class="step-hd">2、线下汇款</div>
                    <div class="step-bd">
                        <div class="info-hd">汇款信息：</div>
                        <div>
                            <span class="step-bd-label">金&nbsp;&nbsp;&nbsp;&nbsp;额：</span>
                            <span class="order-money step-bd-info priceBox" >￥0.1</span>
                        </div>
                        <div>
                            <span class="step-bd-label">开户名：</span>
                            <span class="step-bd-info">长沙锐睿科技有限公司</span>
                        </div>
                        <div>
                            <span class="step-bd-label">开户行：</span>
                            <span class="step-bd-info">长沙银行股份有限公司梅溪湖支行</span>
                        </div>
                        <div>
                            <span class="step-bd-label">账&nbsp;&nbsp;&nbsp;&nbsp;号：</span>
                            <span class="step-bd-info">810000259061000001</span>
                        </div>
                        <div>
                            <span class="step-bd-label">备&nbsp;&nbsp;&nbsp;&nbsp;注:</span>
                            <span class="order-des-id step-bd-info orderCode"></span>
                        </div>
                        <div class="info-tip" style="font-size: 15px;">*汇款备注：打款时请务必填写此备注信息(复制上方订单号)</div>
                    </div>
                    <div class="step-hd">3、等待处理，完成订单</div>
                    <div class="step-bd">汇款后，请尽快与我们联系，我们将及时为您处理。
                        <!-- <br>如有任何疑问，请联系客服：<a href="tel:010-82796300">010-82796300</a>  -->
                    </div>
                </div>
                <!-- <div class="dialog-footer">
                    <div class="ui button primary footer-btn order-cancel-btn cl">取消订单</div>
                </div> -->
                <div class="dialog-close xPop" id="closePub" style="display: block;"></div>
            </div>
        </div>
        ##include("../others/footer.html")
        
    </body>
    <script src="../js/jsrender.min.js"></script>
    <script  src="../js/pTable.js"> </script>
    <script src="../js/qrcode.min.js"> </script>
</html>
