<html>
    <head>
        <title>长沙锐睿科技有限公司</title>
        <meta charset="UTF-8">
        <link rel="shortcut icon" href="./image/favicon.ico">
        <link rel="stylesheet" type="text/css" href="../css/public.css"></link>
        <link rel="stylesheet" type="text/css" href="../css/inRuirui.css"></link>
    </head>
    <body>
        ##include("../others/header.html")
        <div class="img_banner"><img src="../image/intro.jpg" alt="" id="bannerImg"></div>
        <div class="core_inRuirui">
            <div class="left">
                <div class="title">科技咨询</div>
                <div class="lists" id="tabTitle">
                    <div class="list active">国际知名专家及服务介绍</div>
                    <div class="list">成功案例</div>
                    <div class="list" id="btnConsult">科技咨询窗口</div>
                </div>
            </div>
            <div class="right">
                <div class="lists" id="content">
                    <div class="list active">
                        <div class="title">国际知名专家及服务介绍</div>
                        <div class="meeting_lists" id="expertLists">
                        
                        </div>
                        <div class="M-box11" id="pagerBox"></div>
                        <script type="text/x-jsrender" id="tmplExpert">
                            {{for items}}
                            <div class="item">
                                <a href="./newsDetail.html?type=tec&id={{:id}}" class="new2">{{:title}}</a>
                            </div>
                            {{/for}}
                        </script>
                    </div>
                    <div class="list">
                        <div class="title">成功案例</div>
                        <div class="meeting_lists" id="casetLists">
                            
                        </div>
                        <div class="M-box11" id="pager2Box"></div>
                        <script type="text/x-jsrender" id="tmplCase">
                            {{for items}}
                            <div class="item">
                                <a href="./newsDetail.html?type=case&id={{:id}}" class="new2">{{:title}}</a>
                            </div>
                            {{/for}}
                        </script>
                    </div>
                    <div class="list">
                        <div class="title">科技咨询窗口</div>
                        
                        
                    </div>
                </div>
                <div id="window-mask" class="window-mask"></div>
                <div class="dialog zf-dialog dialog-box" title="" id="userInfo">
                    <div class="userinfo_box">
                        <div class="title">科技咨询</div>
                        <div class="form_box" id="contentService">
                            <input type="text" id="userName" placeholder="您的姓名">
                            <input type="text" id="userCompany" placeholder="您所在的公司/大学/机构名称">
                            <input type="text" id="userPositon"  placeholder="您的职称？">
                            
                            <input type="text" id="userEmail" placeholder="您的邮箱">
                            <select name="" placeholder="咨询问题类别" id="slectBox">
                            
                            </select>
                            <textarea id="desc" placeholder="问题描述"></textarea>
                            <div class="btn_submit" id="submitForm">提交</div>
                        </div>
                    </div>
                    <div class="dialog-close" id="xPop"></div>
                </div>
            </div>
        </div>
        ##include("../others/footer.html")
        <script  src="../js/inRuirui.js"></script>
        <script src="../js/jquery.pagination.js"></script>
        <script>
            var pageSize = 10;
            //专家服务列表
            getList("/api/tec/query", "#tmplExpert", "#expertLists", 1, pageSize, totalCount => initPager(
                totalCount,
                $('#pagerBox'), pageSize, obj => pageselectCallback(obj,
                    "/api/tec/query", "#tmplExpert", "#expertLists", pageSize)), true)
            //成功案例列表
            getList("/api/success/case/query", "#tmplCase", "#casetLists", 1, pageSize, totalCount => initPager(
                totalCount,
                $('#pager2Box'), pageSize, obj => pageselectCallback(obj,
                    "/api/success/case/query", "#tmplCase", "#casetLists", pageSize)), true)
            //咨询
            getTypes();
            const domMask = $('#window-mask');
            const domInfo = $('#userInfo');
            const btnConsult = $('#btnConsult');//submitForm
            const submitForm = $('#submitForm');//slectBox
            const slectBox = $('#slectBox');//slectBox
            //
            const userName = $('#userName');
            const userCompany = $('#userCompany');
            const userPositon = $('#userPositon');
            const userEmail = $('#userEmail');
            const desc = $('#desc');
            domMask.fadeIn();
            domInfo.fadeIn();
            btnConsult.click(() =>{
                domMask.fadeIn();
                domInfo.fadeIn();
            })
            $('#xPop').click(() =>{
                domMask.fadeOut();
                domInfo.fadeOut();
            });
            submitForm.click(() =>{
                const typeSelect = slectBox.find("option:selected").val();
                const params ={
                    name: userName.val(),
                    companyUniversityMechanism:userCompany.val(),
                    job:userPositon.val(),
                    email:userEmail.val(),
                    describe:desc.val(),
                    type: Number(typeSelect)
                }
                $.ajax({ 
                    url:"/api/consult/save",
                    dataType: "json",
                    type: 'post',
                    data:params,
                    success: function(res){
                        if(res.success){
                            domMask.fadeOut();
                            domInfo.fadeOut();
                            alert('已提交，其它文件请以邮件附件形式发送至公司邮箱');
                        }else{
                            alert(res.msg);
                        }
                        
                    }
                });
            });
            function getTypes(){
                $.ajax({ //新闻
                    url:"/api/consult/type/list",
                    dataType: "json",
                    type: 'get',
                    success: function(res){
                       const lists = res.data;
                       lists.forEach(list =>{
                            const optionDom = "<option value="+list.code+">"+list.name+"</option> "
                            slectBox.append(optionDom);
                       })
                    }
                });
            }
        </script>
    </body>
</html>