<html>
    <head>
        <title>长沙锐睿科技有限公司</title>
        <meta charset="UTF-8">
        <link rel="shortcut icon" href="./image/favicon.ico">
        <link rel="stylesheet" type="text/css" href="../css/public.css"></link>
        <link rel="stylesheet" type="text/css" href="../css/inRuirui.css"></link>
    </head>
    <body>
        ##include("../others/header.html")
        <div class="img_banner"><img src="../image/intro.jpg" alt="" id="bannerImg"></div>
        <div class="core_inRuirui">
            <div class="left">
                <div class="title">科技服务</div>
                <div class="lists" id="tabTitle">
                    <div class="list active">科技服务</div>
                </div>
            </div>
            <div class="right">
                <div class="lists" id="content">
                    <div class="list active">
                        <div class="title">科技服务</div>
                        <div class="meeting_lists">
                            <div class="item"><a href="./newsDetail.html" class="new">联系赞助-接洽方式</a></div>
                            <div class="item"><a href="./newsDetail.html" class="new">夯实大国粮仓根基</a></div>
                            <div class="item"><a href="./newsDetail.html" class="new">防疫保供稳物价 各地聚力“惠民生”</a></div>
                            <div class="item"><a href="./newsDetail.html">俄乌冲突一个月 美国这个“战争贩子”仍在火上浇油</a></div>
                            <div class="item"><a href="./newsDetail.html">防疫保供稳物价 各地聚力“惠民生”</a></div>
                            <div class="item"><a href="./newsDetail.html">防疫保供稳物价 各地聚力“惠民生”</a></div>
                            <div class="item"><a href="./newsDetail.html">防疫保供稳物价 各地聚力“惠民生”</a></div>
                            <div class="item"><a href="./newsDetail.html">防疫保供稳物价 各地聚力“惠民生”</a></div>
                        </div>
                        
                    </div>
                </div>
                
            </div>
        </div>
        ##include("../others/footer.html")
        <script src="../js/inRuirui.js"></script>
        <script>
            getData('/api/training/advantage/feature/get',"#adv");
            getData('/api/training/contact/method/get',"#contact");
            getData('/api/training/contact/sponsor/get',"#sponsor");
            getData('/api/training/notice/get',"#notice");
            getData('/api/training/service/content/get',"#contentService");
        </script>
    </body>
</html>