<html>
    <head>
        <title>长沙锐睿科技有限公司</title>
        <meta charset="UTF-8">
        <link rel="shortcut icon" href="./image/favicon.ico">
        <link rel="stylesheet" type="text/css" href="../css/public.css"></link>
        <link rel="stylesheet" type="text/css" href="../css/inRuirui.css"></link>
    </head>
    <body>
        ##include("../others/header.html")
        <div class="img_banner"><img src="../image/intro.jpg" alt="" id="bannerImg"></div>
        <div class="core_inRuirui">
            <div class="left">
                <div class="title">培训服务</div>
                <div class="lists" id="tabTitle">
                    <div class="list active">培训通知</div>
                    <div class="list">服务内容</div>
                    <div class="list">优势与特色</div>
                </div>
            </div>
            <div class="right">
                <div class="lists" id="content">
                    <div class="list active">
                        <div class="title">培训通知</div>
                        <div class="meeting_lists" id="trainLists">
                            暂无内容
                        </div>
                        <div class="M-box11" id="pagerBox"></div>
                        <script type="text/x-jsrender" id="tmplTrain">
                            {{for items}}
                            <div class="item">
                                <a href="./newsDetail.html?type=notice&id={{:id}}" class="new">{{:title}}</a>
                            </div>
                            {{/for}}
                        </script>
                    </div>
                    <div class="list">
                        <div class="title">服务内容</div>
                        <div class="content" id="contentService">服务内容</div>
                        
                    </div>
                    <div class="list">
                        <div class="title">优势与特色</div>
                        <div class="content" id="adv">优势与特色</div>
                        
                    </div>
                </div>
                
            </div>
        </div>
        ##include("../others/footer.html")
        <script src="../js/inRuirui.js"></script>
        <script src="../js/jquery.pagination.js"></script>
        <script>
            var pageSize = 10;
            getList("/api/train/notice/query", "#tmplTrain", "#trainLists", 1, pageSize, totalCount => initPager(
                totalCount,
                $('#pagerBox'), pageSize, obj => pageselectCallback(obj,
                    "/api/train/notice/query", "#tmplTrain", "#trainLists", pageSize)), true)
            getData("/api/train/service/content/get", "#contentService"); //服务内容
            getData("/api/train/advantage/feature/get", "#adv"); //会议承接
            //
        </script>
    </body>
</html>