.file_page{
    width:1200px;
    margin:90px auto ;
    display:flex;
}
.pTable{
    width:850px;
    border:1px solid #f0f0f0;
    padding:30px 0;
}
.right_part{
    flex-grow: 1;
}
.right_part .word{
    font-size: 13px;
}
.selected_box{
    border:1px solid #f0f0f0;
    padding:12px;
    height:80px;
}
.selected_box .word{
    font-weight: bold;
}
.match_box .word .num{
    font-weight: bold;
}
.match_box{
    border:1px solid #f0f0f0;
    padding:12px;
    height:355px;
    overflow-y: auto;
}
.match_box .file_lists{
    padding:10px 0;

}
.match_box .file_list span{
    cursor: pointer;
    color: rgba(36,112,184,.8);
}
.container_pTable {
    margin: 0 auto;
}
#table {
    width: 810px;
    margin-bottom: 20px;
}
#table-lanthanoids,
#table-actinoids {
    width: 675px;
}
.element {
    position: relative;
    float: left;
    width: 45px;
    height: 45px;
    text-align: center;
    color: white;
    font-size: 11px;
    font-weight: 100;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    box-sizing: border-box;
}
.element .symbol {
    line-height: 60px;
    font-size: 180%;
    font-weight: 300;
}
.element .id,
.element .mass {
    position: absolute;
    opacity: 0.9;
}
.element .id {
    top: 1px;
    left: 2px;
}
.element .mass {
    bottom: 0.3px;
    left: 0;
    right: 0;
    line-height: 1.2;
    display: none;
}
.element.noble {
    background: -webkit-linear-gradient(top left, #7e57c2, #673ab7);
    background: -moz-linear-gradient(top left, #7e57c2, #673ab7);
    background: -ms-linear-gradient(top left, #7e57c2, #673ab7);
    background: -o-linear-gradient(top left, #7e57c2, #673ab7);
    background: linear-gradient(top left, #7e57c2, #673ab7);
}
.element.alkali {
    background: -webkit-linear-gradient(top left, #ef5350, #f44336);
    background: -moz-linear-gradient(top left, #ef5350, #f44336);
    background: -ms-linear-gradient(top left, #ef5350, #f44336);
    background: -o-linear-gradient(top left, #ef5350, #f44336);
    background: linear-gradient(top left, #ef5350, #f44336);
}
.element.alkaline {
    background: -webkit-linear-gradient(top left, #ff7043, #ff5722);
    background: -moz-linear-gradient(top left, #ff7043, #ff5722);
    background: -ms-linear-gradient(top left, #ff7043, #ff5722);
    background: -o-linear-gradient(top left, #ff7043, #ff5722);
    background: linear-gradient(top left, #ff7043, #ff5722);
}
.element.transition {
    background: -webkit-linear-gradient(top left, #ff9800, #fb8c00);
    background: -moz-linear-gradient(top left, #ff9800, #fb8c00);
    background: -ms-linear-gradient(top left, #ff9800, #fb8c00);
    background: -o-linear-gradient(top left, #ff9800, #fb8c00);
    background: linear-gradient(top left, #ff9800, #fb8c00);
}
.element.poor {
    background: -webkit-linear-gradient(top left, #66bb6a, #4caf50);
    background: -moz-linear-gradient(top left, #66bb6a, #4caf50);
    background: -ms-linear-gradient(top left, #66bb6a, #4caf50);
    background: -o-linear-gradient(top left, #66bb6a, #4caf50);
    background: linear-gradient(top left, #66bb6a, #4caf50);
}
.element.metalloid {
    background: -webkit-linear-gradient(top left, #26c6da, #00bcd4);
    background: -moz-linear-gradient(top left, #26c6da, #00bcd4);
    background: -ms-linear-gradient(top left, #26c6da, #00bcd4);
    background: -o-linear-gradient(top left, #26c6da, #00bcd4);
    background: linear-gradient(top left, #26c6da, #00bcd4);
}
.element.nonmetal {
    background: -webkit-linear-gradient(top left, #42a5f5, #2196f3);
    background: -moz-linear-gradient(top left, #42a5f5, #2196f3);
    background: -ms-linear-gradient(top left, #42a5f5, #2196f3);
    background: -o-linear-gradient(top left, #42a5f5, #2196f3);
    background: linear-gradient(top left, #42a5f5, #2196f3);
}
.element.halogen {
    background: -webkit-linear-gradient(top left, #5c6bc0, #3f51b5);
    background: -moz-linear-gradient(top left, #5c6bc0, #3f51b5);
    background: -ms-linear-gradient(top left, #5c6bc0, #3f51b5);
    background: -o-linear-gradient(top left, #5c6bc0, #3f51b5);
    background: linear-gradient(top left, #5c6bc0, #3f51b5);
}
.element.lanthanoid {
    background: -webkit-linear-gradient(top left, #7e57c2, #673ab7);
    background: -moz-linear-gradient(top left, #7e57c2, #673ab7);
    background: -ms-linear-gradient(top left, #7e57c2, #673ab7);
    background: -o-linear-gradient(top left, #7e57c2, #673ab7);
    background: linear-gradient(top left, #7e57c2, #673ab7);
}
.element.actinoid {
    background: -webkit-linear-gradient(top left, #ab47bc, #9c27b0);
    background: -moz-linear-gradient(top left, #ab47bc, #9c27b0);
    background: -ms-linear-gradient(top left, #ab47bc, #9c27b0);
    background: -o-linear-gradient(top left, #ab47bc, #9c27b0);
    background: linear-gradient(top left, #ab47bc, #9c27b0);
}
.element.selected{
    background: #fff;
    box-shadow: inset 1px 1px 0 #2370b8, inset -1px -1px 0 #2370b8;
    color:#2370b8;
}
#el2 {
    margin-left: 720px;
}
#el5,
#el13 {
    margin-left:450px;
}
.clearfix {
    clear: both;
}
.transp {
    opacity: 0.25;
}