html,body{
    margin:0;
    line-height: 1.5;
    color:#666;
}
dl,dt,dd{
    margin:0
}
ul,li{
    margin: 0;
    list-style: none;
    padding:0;
}
a{
    text-decoration: none;
    color:#666;
}
a:hover{
    color:#2370b8;
}
a.active{
    color:#2370b8;
}
img{
    width:100%;
}
.header{
    height: 60px;
    background-color: #fff;
    box-shadow: 0 0 6px #ccc;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
}
.pc_hide{
    display: none;
}
.logo{
    position: fixed;
    z-index: 100;
    width:140px;
    left:0;
    top:0;
    transition: width 0.1s;
}
.logo_tiny{
    width:105px;
    height: 60px;
    overflow: hidden;
}
.logo img{
    vertical-align: middle;

}
.header .navs{
    margin-left:160px;
    line-height: 60px;
}
.header .navs .list{
    float:left;
    padding:0 30px;
    position: relative;
}
.header .user_box{
    position: absolute;
    right:30px;
    font-size: 14px;
    color:#ccc;
    line-height: 60px;
}
.header .navs .list .title_word{
    cursor: default;
    color: #666;
}
.header .navs .list .down{
    position: absolute;
    line-height: 30px;
    width: 136px;
    top: 60px;
    left: -6px;
    box-shadow: 0 0 3px #ccc;
    background-color: rgba(255,255,255,.95);
    display: none;
    text-align: center;
    padding:6px 0 12px;
    font-size:13px;
}
.header .navs .list .down2{
    left:-36px;
    width:210px;
}
.header .navs .list .down3 {
    left: -76px;
    width: 270px;
}
.header .navs .list .down a{
    display: block;
    line-height: 36px;
}
.header .navs .list2:hover .down{
    display: block;
}
.header .navs .list .down .content{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    background-color: rgba(255,255,255,.95);
    padding: 2px 27px 8px 20px;
    border-radius: 0 0 4px 4px;
}
.header .navs .list .down .content dl dt{
    color:#666;
    font-weight: bold;
    border-bottom: 1px solid #666;
    margin-bottom: 3px;
    width: 30px;
    white-space: nowrap;
}
.header .navs .list .down .content dl dd{
    font-size: 13px;
    width:75px;
}
.header .navs .list .down .content dl dd .lists3_box{
    position: absolute;
    top:0;
    right:0;
    width:118px;
    background-color: #fff;
    height: 206px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 12px;
    box-sizing: border-box;
    display: none;
}
.header .navs .list .down .content dl dd .lists3_box a{
    max-width: 116px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    white-space: nowrap;
}
.header .navs .list .down .content dl dd:hover .lists3_box {
    display: flex;
}
.footer{
    background-color: rgba(39, 43, 59, .8);
    position: relative;
    padding: 5px 0;
    color:#eee;
}
.footer_center{
    padding: 21px 0;
    border-bottom: 1px solid #999;
    display: flex;
    justify-content: space-between;
    width:840px;
    margin:0 auto;
   
}
.footer_center .follow_us {
    width: 280px;
    border-left: 1px solid #999;
    padding-left:30px;
}
.footer_center .follow_us .code_pic{
    width:120px;
    margin:15px 0 8px;
}
.footer_center .follow_us .info_logo{
    font-size: 12px;
    
}
.footer_center .links {
    display: flex;
    justify-content: space-between;
    width: 560px;
    align-items: center;
}
.footer_center .links .link_list {
    margin: 0 30px;
}
.footer_center .links .link_list .cate{
    margin-bottom: 18px;
}
.footer_center .links .link_list a{
    display: block;
    color:#ccc;
    font-size: 14px;
    margin:8px 0;
}
.footer a:hover{
    color:#2370b8;
}

.footer .site_info {
    margin: 15px 0 20px;
    text-align: center;
    font-size: 12px;
    color: #f0f0f0;
}
.footer .site_info a{
    color:#ccc;
}
.footer .site_info span{
    padding:0 10px;
}
table {
    border-top: 1px solid #ccc;
border-left: 1px solid #ccc;
}
table td,
table th {
border-bottom: 1px solid #ccc;
border-right: 1px solid #ccc;
padding: 3px 5px;
}
table th {
border-bottom: 2px solid #ccc;
text-align: center;
background-color: #f1f1f1;
}
@media screen and (max-width: 768px) {
    .footer{
        display: none;
    }
    .pc_hide{
        display: block;
    }
    .show_nav {
        position: fixed;
        right: 5px;
        top: 0;
        padding: 21px 21px 10px 21px;
        z-index:10;
    }
    .header .navs {
        margin-left: 0;
        margin-top:140px;
        line-height: 36px;
    }
    .header .navs .list{
        float: none;
        padding: 0 30px;
        position: relative;
        margin:10px 0;
    }
    .header .navs .list a{
        text-decoration: underline;
    }
    .header .navs .list .down{
        position: static;
        line-height: 30px;
        width: 100%;
        box-shadow: 0 0 0 #ccc;
        background-color: rgba(255,255,255,.95);
        display: block;
        text-align: center;
        padding:6px 0 12px;
    }
    .logo{
        width:120px;
        left:50%;
        margin-left:-60px;
    }
    .logo_tiny{
        margin-left:-52.5px;
    }
    .top_bg{
        z-index: 6;
        position: fixed;
        top:0;
        width:100%;
        height:60px;
        background-color: rgba(255, 255, 255,0.6);
    }
    .ham_core {
        width: 20px;
        height: 17px;
        background-image: url(../image/menu.png);
        background-size: contain;
        background-repeat: no-repeat;
        display: block;
    }
    .header {
        height: 100%;
        text-align: center;
        display: none;
        top: 0;
        left: 0;
        width: 100%;
    }
    .x_nav {
        position: absolute;
        right: 24px;
        top: 20px;
        width: 14px;
        height: 14px;
        background-image: url(../image/xx.png);
        background-size: contain;
    }
 }